* {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.navigation {
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    top: 0;
    left: 0;
    height: 3em;
    background: var(--color-tertiary);
    color: var(--color-primary);
}


.day-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    height: 100%;
}
.titlebold{
    font-weight: bolder;
    font-size: 1.5em;
}
.day-name, .room-name {
    color: var(--color-tertiary);
    font-weight: bold;
    display: block;
}

.date, .location {
    color: #666;
    font-size: 0.9em;
}

.mod-container {
    max-width: 80svh;
    margin: 2rem auto;
    padding: 20px;
}

.add-btn {
    background-color: var(--color-tertiary);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.save-btn {
    background-color: var(--color-gold);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn {
    background: var(--color-secondary);
    color: white;
    border: none;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.add-room, .add-event {
    margin-bottom: 20px;
}

.add-form {
    display: none;
    background-color: var(--border-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}


.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 8px;
    border: 2px solid var(--color-accent);
    background: var(--color-primary);
    border-radius: 4px;
    box-sizing: border-box;
}


.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input {
    width: auto;
    margin-right: 8px;
}

.rooms-list, .event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.room-card, .event-card {
    width: auto;
    max-width: 90%;
    height: auto;
    margin: 10px 0;
    padding: 15px;
    background-color: var(--color-accent);
    color: var(--color-primary);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#loginForm, #signupForm {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.signup-container, .login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


html {
    background: var(--color-primary);
}

.dark {
    --color-primary: hsl(347, 50%, 0%);
    --color-secondary: hsl(347, 50%, 90%);
    --color-tertiary: hsl(229, 100%, 87%);
    --color-accent: hsl(287, 80%, 70%);

    --border-color: hsl(347, 50%, 10%);
    --today-bg-color: hsl(347, 50%, 2%);
}

:root {
    --color-gold: hsl(46.8, 92.9%, 61.6%);
    --color-primary: hsl(0, 0%, 100%);
    --color-secondary: hsl(336, 25%, 60%);
    --color-tertiary: hsl(314, 53%, 21%);
    --color-accent: hsl(339, 27%, 17%);
    --color-additional: hsl(345, 18%, 4%);

    --border-color: hsl(347, 50%, 90%);
    --today-bg-color: hsl(347, 50%, 98%);

    --hour-height: 80px;
    --day-width: 150px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#noscroll {
    overflow-y: hidden;
    overflow-x: auto;
    background: var(--color-tertiary);
}

#scrollable {
    overflow-y: scroll;
    overflow-x: auto;
    width: 100%;
}

.flex-row {
    display: flex !important;
    flex-direction: row !important;
    min-width: min-content;
}

#now-line {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--color-gold);
    z-index: 5;
    left: 0;
    pointer-events: none;
    box-shadow: 0 1px 0 1px #00000014;
}

fieldset {
    border: none;
}

#isRecurringEndDate_zone {
    display: none;
}

#is_recurring {
    width: 2em;
    height: 2em;
}

#is_recurring_zone {
    align-items: center;
    justify-content: space-evenly;
}

#sidepanel {
    min-width: fit-content;
    transition: all 1s ease-in-out;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    width: 20vw
}

#sidepanel-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.sidepanel-button {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-size: larger;
    border: none;
    padding: 1em;
    cursor: pointer;
    border-radius: 4px;
}

#sidepanel-button-left {
    border-radius: 20px 0 0 20px;
}

#sidepanel-button-right {
    border-radius: 0 20px 20px 0;
}

.gold-border {
    box-shadow: inset 0 0 0 2px var(--color-gold);
}

.sidepanel-hidden {
    width: 10px !important;
    overflow: hidden !important;
    padding: 0 !important;
}

#sidepanel-filter, #sidepanel-creation {
    opacity: 1;
    gap: 1.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    transition: opacity 1.5s ease-in-out !important;

}

.unique-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--color-tertiary);
}

.unique-table th, .unique-table td {
    border: 1px solid var(--color-tertiary);
    padding: 10px;
}

.unique-table tr:nth-child(odd) {
    background-color: var(--color-primary);
}

.unique-table tr:nth-child(even) {
    background-color: var(--color-secondary);
}

.copyable {
    cursor: pointer;
    position: relative;
}

.copyable:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.copy-tooltip {
    position: absolute;
    background: var(--color-additional);
    color: white;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 12px;
    bottom: 20%;
    left: 80%;
    white-space: nowrap;
    display: none;
    pointer-events: none;
}

#remover-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: larger;
    width: 100%;
    margin-top: 40px;
}

.hidden {
    transition: opacity 0.5s ease-in-out !important;
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    display: none !important;
}

#filterEventsForm {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.filterButton {
    background-color: var(--color-gold);
    color: var(--color-additional);
    font-size: larger;
    border: none;
    padding: 1em;
    cursor: pointer;
    border-radius: 4px;
}

#eventForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-group {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}

.custom-select {
    position: relative;
    width: 15vw;
}

.custom-select input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: white;
}

.select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

.select-hide {
    display: none;
}

.select-items div {
    padding: 8px 16px;
    cursor: pointer;
    color: black;
}

.select-items div:hover {
    background-color: #f1f1f1;
}

.multi-select {
    border-radius: 4px;
    position: relative;
    background-color: var(--color-primary);
    border: 1px solid #ddd;
}

.selected-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    min-height: 24px;

}
.results-list{
    display:flex;
    flex-direction: column;
    gap: 1em;
}
.search-result-div{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 1em;
    border:2px solid var(--color-tertiary);
    padding: 1em;
}
.selected {
    background: #b4b2b2 !important;
    color: white !important;
}

.selected-tag {
    color: var(--color-primary);
    background-color: var(--color-tertiary);
    border-radius: 3px;
    margin: 2px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.tag-remove {
    margin-left: 5px;
    cursor: pointer;
    color: #999;
    font-weight: bold;
}

.tag-remove:hover {
    color: #333;
}

.multi-select input[type="text"] {
    border: none;
    border-top: 1px solid #eee;
}


.week-calendar {
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}


.nav-link {
    text-align: center;
    text-decoration: none;
    color: var(--color-primary);
}

.calendar-container {
    display: flex;
    height: calc(100vh - 80px);
    margin-top: 80px;
}

.time-column {
    height: fit-content;
    min-width: 70px;
    border-right: 1px solid var(--border-color);
}

.time-header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    border-radius: 20px 0 0 0;
}

.time-slots {
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
}

.time-slot {
    height: var(--hour-height);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
}

.week-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    background: var(--color-primary);
}

.day-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: var(--color-primary);
}

.room-column {
    min-width: 150px;
}

.day-column, .room-column {
    border-right: 1px solid var(--border-color);
}

.day-column.today {
    background-color: var(--today-bg-color);
}

.day-header, .room-header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-tertiary);
    z-index: 10;
    background: var(--color-primary);
}

.day-time-grid, .room-time-grid {
    position: relative;
}

.hour-slot {
    position: relative;
    height: var(--hour-height);
    border-bottom: 1px solid var(--border-color);
    background: var(--color-primary);
}

.event {
    border: 2px solid var(--color-tertiary);
    min-height: 2em;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    width: calc(100% - 15px);
    margin-left: 5px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
}
.event-placeholder{
    height:4em;
    top:40vh;
    width: 9%;
    position: sticky;
    z-index: 10;
}
.container {
    margin: 15vh auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    width: 80vw;
    border-radius: 1em;
    box-shadow: #000000 0 0 6px;
    gap: 2em;
}

.details-container {

    color: var(--color-tertiary);
    font-size: large;
}

.event-title, .event-time, .event-details, .event-room, .event-user, .event-desc {
    color: var(--color-primary);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.event-time {
    font-size: 0.8em;
    margin-bottom: 3px;
}


.event-desc {
    margin-top: 3px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: calc(100% - 40px);
    word-break: break-word;
    color: var(--border-color);
}

.multi-hour {
    z-index: 2;
}


.event-details {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    :root {
        --day-width: 120px;
        --hour-height: 50px;
    }
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.btn {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}

.btn-signup {
    background-color: #28a745;
    color: white;
    border: 2px solid #23923c;
}

input {
    background-color: var(--color-primary);
    border: 2px solid var(--color-tertiary);
}

.btn-login {
    background-color: #007bff;
    color: white;
    border: 2px solid #036adc;
}

.btn:hover {
    opacity: 0.9;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.alert-success {
    background-color: var(--color-primary);
    border-color: #c3e6cb;
    color: var(--color-accent);
}
