<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Event ' + ${event.id}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
<div class="navigation">
    <a th:href="@{/calendar.html}" class="nav-link">Home</a>

    <a th:href="@{/calendar/findAvailable}" class="nav-link">Find available</a>

    <a th:href="@{/signout.html}" class="nav-link">Sign out</a>
</div>
<div class="container">
    <table class="unique-table">
        <tr class="details-container">
            <th style="font-size:larger">Event id:</th>
            <td class="copyable" th:text="${event.id}" th:data-value="${event.id}"></td>
        </tr>
        <tr class="details-container">
            <th>Event Name:</th>
            <td class="copyable" th:text="${event.title}" th:data-value="${event.title}"></td>
        </tr>
        <tr class="details-container">
            <th>Room:</th>
            <td class="copyable" th:text="${event.room.name}" th:data-value="${event.room.name}"></td>
        </tr>
        <tr class="details-container">
            <th>Start Time:</th>
            <td class="copyable" th:text="${#temporals.format(event.startTime, 'MMMM d, yyyy h:mm')}"
                th:data-value="${#temporals.format(event.startTime, 'MMMM d, yyyy h:mm')}"></td>
        </tr>
        <tr class="details-container">
            <th>End Time:</th>
            <td class="copyable" th:text="${#temporals.format(event.endTime, 'MMMM d, yyyy h:mm')}"
                th:data-value="${#temporals.format(event.endTime, 'MMMM d, yyyy h:mm')}"></td>
        </tr>
        <tr class="details-container">
            <th>User:</th>
            <td class="copyable" th:text="${event.user.getUsername()}" th:data-value="${event.user.getUsername()}"></td>
        </tr>
        <tr class="details-container">
            <th>Tags:</th>
            <td class="copyable" th:text="${#strings.listJoin(event.tags,',')}"
                th:data-value="${#strings.listJoin(event.tags,',')}"></td>
        </tr>
        <tr>
            <td colspan="2" style="width:100%;text-align: center; padding: 0;">
                <button id="remover-button" th:onclick="'deleteEvent(' + ${event.id} + ')'">Remove event</button>
            </td>
        </tr>
    </table>
</div>
</body>
<script>
    async function deleteEvent(eventId) {
        const response = await authFetch('/deleteevents/' + eventId, {method: 'DELETE'});
        if (response.status === 204) {
            window.location.href = '/calendar';
        } else {
            alert('Failed to delete event');
        }
    }

    function authFetch(url, options = {}) {
        options.credentials = 'include';
        return fetch(url, options);
    }

    //Adding a tooltip to each copyable element
    document.addEventListener('DOMContentLoaded', function () {
        const copyables = document.querySelectorAll('.copyable');

        copyables.forEach(element => {
            const tooltip = document.createElement('span');
            tooltip.className = 'copy-tooltip';
            tooltip.textContent = 'Click to copy';
            element.appendChild(tooltip);

            element.addEventListener('mouseover', function () {
                tooltip.style.display = 'block';
            });

            element.addEventListener('mouseout', function () {
                tooltip.style.display = 'none';
                tooltip.textContent = 'Click to copy';
            });

            element.addEventListener('click', function () {
                const textToCopy = this.getAttribute('data-value');
                navigator.clipboard.writeText(textToCopy).then(() => {
                    tooltip.textContent = 'Copied!';
                    tooltip.style.display = 'block';
                    setTimeout(() => {
                        tooltip.style.display = 'none';
                    }, 1000);
                });
            });
        });
    });
</script>
</html>